@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');

:root {
  --c-bg: #191919;
  --c-bg-light: #202020;
  --c-bg-lighter: #222222;
  --c-fg: #F1F1F1;
  --c-fg-dark: #E9E9E9;
  --c-primary: #AFBEE1;
  --c-primary-subdued: #64708D;
  --c-green: #527251;
  --c-green-bright: #BCE1AF;
  --c-red-bright: #E49393;
  --c-red: #A46060;
  --c-black: #373B41;
  --c-black-bright: #4d535c;
}

body {
  padding: 0;
  background: var(--c-bg);
  color: var(--c-fg);
  font-size: 18px;
  font-family: 'Lato', 'Noto Sans', sans-serif;
  line-height: 1.6;
}

#content {
  max-width: 700px;
  margin: auto;
  padding: 2em 0;
}

.vis {
  margin: 2em 0;
}

.c_prim {
  color: var(--c-primary)
}
.c_red {
  color: var(--c-red-bright);
}
.c_green {
  color: var(--c-green-bright);
}
.w_bold {
  font-weight: bold;
}
.w_reg {
  font-weight: normal;
}

code {
  font-family: 'Iosevka Term';
}

*:not(pre):not(h1):not(h2):not(h3) > code {
  background: var(--c-bg-lighter);
  padding: 0.2em 0.4em;
  font-size: 14px;
  border-radius: 0.3em;
}

.box {
  background: var(--c-primary);
  color: var(--c-bg);
  font-weight: bold;
  padding: 0.1em 0.3em;
}

.note {
  border: 1px solid var(--c-black);
  padding: 0.5em;
  border-radius: 0.2em;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  border-left: 0.3em solid var(--c-green-bright);
  margin: 1em 0em;
}

h1, h2, h3, h4 {
  line-height: 1.2;
}
h1 {
  margin-top: 0.1em;
}
h2::before, h3::before, h4::before {
  color: var(--c-primary);
  font-weight: bold;
}
h2::before {
  content: "#";
}
h3::before {
  content: "##";
}
h4::before {
  content: "###";
}

pre > .hljs {
  background: #1E1F22;
}
pre {
  background: #1E1F22;
  padding: 0.5em;
  word-break: break-all;
  word-wrap: break-word;
  overflow-wrap: anywhere;
  overflow-x: auto;
  border-radius: 0.2em;
}

pre.nohighlight {
  padding: 1em;
}

ul {
  margin: 0.8em;
}

a {
  color: var(--c-primary);
}

.clickable {
  cursor: pointer;
}

.vis {
  display: flex;
  flex-direction: column;
  gap: 1em;
}

.vis .line {
  display: flex;
  justify-content: center;
}

.cell {
  outline: 2px solid var(--c-black);
  box-sizing: border-box;
  width: 1.5em;
  height: 1.5em;
  text-align: center;
}
.cell:not(:first-child) {
  margin-left: 2px;
}

#vis_transpose .meta_line:first-child {
  display: flex;
  flex-direction: row;
}

#vis_transpose .middle {
  text-align: center;
}

#vis_transpose .iter {
  color: var(--c-black-bright);
}
#vis_transpose .info {
  text-align: end;
  color: var(--c-black-bright);
}

#vis_transpose .meta_line:not(:first-child) {
  text-align: center;
}

#vis_transpose .meta_line:first-child div {
  flex: 2;
}

#vis_permute {
  display: grid;
  grid-template-columns: auto auto;
  column-gap: 0.5em;
  row-gap: 0.5em;
}

#vis_permute .label {
  color: var(--c-black-bright);
  text-align: end;
}
#vis_permute .label::after {
  content: " = "
}

#vis_permute .cells {
  display: flex;
}

#vis_permute .restart {
  font-size: 0.9em;
  color: var(--c-black-bright);
  height: 1em;
  text-align: center;
  width: auto;
  grid-column: span 2;
}

@media screen and (max-width: 29em) {
  #vis_permute .label {
    font-size: 0.7em;
  }
}

.strike {
  text-decoration: line-through;
}

#vis_end {
  display: flex;
  flex-direction: column;
  gap: 1em;
}

@media screen and (max-width: 35em) {
  #vis_end {
    font-size: 0.8em;
  }
}

@media screen and (max-width: 28em) {
  #vis_end {
    font-size: 0.6em;
  }
}

#vis_end #submap {
  font-size: 1.2em;
  padding: 0.4em 1em;
  outline: 2px solid var(--c-black);
  width: fit-content;
  z-index: 2;
  background: var(--c-bg);
  position: relative;
}

#vis_end #l7 {
  z-index: -1;
  position: relative;
}

#vis_end #l7 .cell {
  opacity: 0;
}
